/*Nav elements to change*/
/*Flexbox attributes*/
html  {
  scroll-behavior: smooth;
}
.flexbox-wrapper1  {
  justify-content: center;
  flex-direction: row;
}
.flex-two {
   display: flex;
   justify-content: center;
   flex-direction: row;
}
.flexbox-standard3-left {
  width: 45em;
}