input.standard {
  width: 90%;
  border-bottom: 0.1em solid black;
}
form  {
  display: block;
  margin-left: 2em;
  margin-top: 0.5em;
}
textarea  {
  border: 0.1em solid black;
  width: 90%;
}
.form-button-left, .form-button-right {
  background-color: #FCE181;
  color: black;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  padding-right: 1.5em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.form-button-right {
   margin-left: 2em;
}
.form-button-left:hover, .form-button-right:hover {
   background-color: #FEF9C7;
}
input[type = "checkbox"] {
   background-color: blue;
}
