h1.title  {
  text-align: center;
}
h1 {
  font-weight: 500;
  font-size: 3em;
  color: black;
}
h1.standard2 {
  margin-left: 0.6em;
}
h3 {
  font-size: 1.5em;
  font-weight: 250;
}
h3.subtitle {
  text-align: center;
}
h4 {
  font-size: 1.25em;
  font-weight: 200;
}
h3.default {
  margin-left: 1em;
}
h2 {
   font-size: 2em;
   font-weight: 400;
}
h2.standard {
   margin-left: 0.5em;
}
h1.standard3 {
   margin-left: 0.6em;
}