img.centralized  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.image-band {
   margin-left: 0.5em;
   margin-right: 0.5em;
}
.image-band img  {
   margin-left: 0.125em;
   margin-right:0.125em;
   float: left;
   display: inline-block;
}
img.footer {
   padding-top: 1.25em;
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height:39px;
   padding-bottom: 0.125em;
}
.img-nav {
   height: 54px;
   float: left;
   display: block;
}
.img-nav img {
   padding: 14px 16px;
   height: 27px;
}
.container2 {
   z-index: 5;
   position: relative;
}
.container2 .bg, .container2 .bg2 {
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: .2;
   width: 100%;
   height: 100%;
}
.container2 .bg2 {
   background-image: url('../images/hands-together.jpg');
   background-size: cover;
}
.container2 .bg {
   background-image: url('../images/knowledge.jpg');
   background-size: cover;
}
.container2 .bg3 {
   background-size: cover;
   background-image: url('../image/plantv2.jpg');
}
.content p, .content h1, .content h3 {
   
}
.content img {
   

}
img.blog {
   width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   opacity: 1.0;
}