img.centralized  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.image-band {
   margin-left: 0.5em;
   margin-right: 0.5em;
}
.image-band img  {
   margin-left: 0.125em;
   margin-right:0.125em;
   float: left;
   display: inline-block;
}
img.footer {
   padding-top: 1.25em;
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height:39px;
   padding-bottom: 0.125em;
}
.img-nav {
   height: 54px;
   float: left;
   display: block;
}
.img-nav img {
   padding: 14px 16px;
   height: 27px;
}