section {
   margin-bottom: 0.5em;
}
section.about-us {
   margin-left: 4em;
}
section:before, section:after {
  content: "";
  display: table;
  line-height: 0;
}
section:after {
  clear: both;
}
/*section {
  font-size: 0;
}
div {

}
